{% for card in cards %}
    <h2 class="text-center">{{card["jogo"]}}</h2>
    <div class="d-flex flex-wrap justify-content-around">
        {% for serv in card["Servicos"] %}
            <div class="card m-3 text-center" style="width: 18rem;">
                <div class="card-body d-flex flex-column">
                    <img src="{{ serv.imagem }}" class="card-img-top" alt="{{ serv.nome }}">
                    <h5 class="card-title">{{ serv.nome }}</h5>
                    <p class="card-text">{{ serv.descricao }}</p>
                    <div class="mt-auto">
                        <a href="{{ serv.link }}" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}