{% extends "index.html" %}

{% block titulo %} Contas {% endblock %}

{% block conteudo %}

<div class="centered-text" style="color: white;">
    <h2>Este Lugar sera vendido contas, se quiser vender a sua entre em contato conosco por discord</h2>
    <div class="row rHome">
        <div class="col"><img style="width: 40px;" src="{{ url_for('static', filename='img/mail.png') }}" href="" alt="">Trabalhe conosco</div>
        <div class="col"><img style="width: 40px;" src="{{ url_for('static', filename='img/disc.svg') }}" href="" alt="">Discord</div>
    </div>
</div>

{% endblock %}