<div class="navbar">
    <ul class="nav">
        <li><a href="/lol/elojob">EloJob</a></li>
        <li class="nav-2"><a href="/lol/duoboost">DuoBoost</a></li>
        <li class="nav-3"><a href="/contas">Contas</a></li>
    </ul>
    <a class="logo" href=""><img style="width: 100%;" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
    <ul class="nav">
        <li class="nav-3"><a href="#">MD5</a></li>
        <li class="nav-2"><a href="#">Vitórias</a></li>
        <li><a href="#">Coach</a></li>
    </ul>
</div>