<nav class="navbar sticky-top navbar-expand-md" style="background-color: #4e4e4ec4;">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="#">SpeedBoost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Botão de menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        League of Legends
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/lol/elojob">Elo Job</a></li>
                        <li><a class="dropdown-item" href="/lol/duoboost">Duo Boost</a></li>
                        <li><a class="dropdown-item" href="#">MD5</a></li>
                        <li><a class="dropdown-item" href="#">Vitórias</a></li>
                        <li><a class="dropdown-item" href="#">Coach</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Valorant
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/valorant/elojob">Elo Job</a></li>
                        <li><a class="dropdown-item" href="/valorant/duoboost">Duo Boost</a></li>
                        <li><a class="dropdown-item" href="#">MD5</a></li>
                        <li><a class="dropdown-item" href="#">Vitórias</a></li>
                        <li><a class="dropdown-item" href="#">Coach</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contas">Contas Smurf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/discord">Discord</a>
                </li>
            </ul>
        </div>
    </div>
</nav>